.slideshow
    position: relative

    &__image
        width: 1240px
        height: 415px
        border-radius: 25px
        object-fit: cover

    &__arrow
        position: absolute
        top: 40%
        display: flex
        align-items: center
        width: 1240px

        &--previous
            cursor: pointer
            left:3%
            rotate: (0.5turn)
           
            position: relative

        &--next
            cursor: pointer
            position: relative
            left: 87%

    span
        position: relative
        bottom: 0px
        top: 165px
        left: 45%
        font-size: 18px
        color: white
        font-weight: 500

        
