@import '../../../styles-mixins'
.card-container
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr))
    gap: 10px 10px
    width: 83%
    border-radius: 25px
    @include background-grey
    padding-top: 40px
    @media (max-width : 768px)
        padding-left: 0
        width: 89.335%
        padding-top: 0
        background: #fff
        margin:0
        gap: 0px
.card
    border-radius: 10px
    width: 87%
    height: 88.5%
    position: relative
    overflow: hidden
    margin-bottom: 40px
    @media (max-width : 768px)
        width: 98.53%
        margin-bottom: 20px
    &__image
        height: 340px
        cursor: pointer
        @media (max-width : 768px)
            height: 255px
            width: 100%
    &__title
        position: absolute
        bottom: 0
        padding: 20px
        font-size: 1.2em
        @include text-white
        font-weight: 600
        @media (max-width : 768px)
            font-size: 1em
            
