.host__container
    display: flex
    flex-direction: column
  
    width:196px

.host__idBlock
    display: flex
    flex-direction: row
    width:196px
    margin-bottom: 15px

.host__image
        border-radius: 50px
        width: 64px
        height: 64px
        display: flex
        justify-content: flex-end
.host__identity
    display: flex
    justify-content: flex-end
    color: #ff6060
    font-size: 18px
    margin-right: 15px
    text-align: right
.host__ratingContainer
    width: 196px
    display: flex
    justify-content: flex-end

.star
    width: 34px
    margin-left: 10px



