@import '../../../styles-mixins'

.collapse
    margin-bottom: 10px
    &__header
        @include background-red
        @include text-white
        display: flex
        margin: 0 auto
        justify-content: space-between
        align-items: center
        padding: 10px
        border-radius: 10px
        position: relative // Ajout de la ligne pour permettre l'utilisation de z-index
        z-index: 2
        width: 95%
        @media (max-width:768px)
            height: 30px
            padding-top: 0
            padding-bottom: 0
            border-radius: 5px
            width: 95%

    &__title
        @include text-white
        font-size: 1.2em
        @media (max-width:768px)
            font-size: 1em
    &__text
        @include background-grey
        @include text-red
        border-radius: 5px
        padding: 20px
        font-size: 1.1em
        position: relative // Ajout de la ligne pour permettre l'utilisation de z-index
        z-index: 1
        max-height: 500px
        overflow: visible
        opacity: 1
        transform: translateY(0px)
        transition-property: max-height, opacity, overflow, transform
        transition-duration: 1s
        @media (max-width:768px)
            font-size: 0.8em 
            transform: translateY(0px)
        &--hidden
            @include background-grey
            border-radius: 5px
            @include text-red
            position: relative // Ajout de la ligne pour permettre l'utilisation de z-index
            z-index: 1
            padding: 20px 0px 0 20px
            max-height: 0px
            overflow: hidden
            opacity: 0
            transform: translateY(-100px)
            transition-property: max-height, opacity, overflow, transform
            transition-duration: 1s
            @media (max-width:768px)
                font-size: 0.8em
                transform: translateY(-50px)
    &__arrow
        &--down
            @include arrow(-0.5turn)
            @media (max-width:768px)
                height: 20px
        &--up
            @include arrow(0turn)
            @media (max-width:768px)
                height: 20px
