$imgHomeBanner: '/homeBanner.png'
$imgAboutBanner: '/aboutBanner.png'

@mixin banner-logo-style($backgroundImage)
    position: relative
    width: 100%
    height: 209px
    background-image: url('#{$backgroundImage}')
    object-fit: cover
    background-position: center center
    background-repeat: no-repeat
    border-radius: 25px
    background-color: black
    filter: brightness(0.7)
    overflow: hidden
.banner
    width: 86%
    position: relative
    border-radius: 25px
    padding-bottom: 50px
    @media ( max-width: 768px )
        padding-bottom: 20px
        width: 93%
    &__logo
        @include banner-logo-style($backgroundImage:$imgAboutBanner )
        position: relative
        z-index: 1
        @media ( max-width: 768px )
            height: 111px
    &__title
        color: white
        font-size: 2.6em
        font-weight: 500
        position: absolute
        bottom: 25%
        left: 50%
        transform: translateX(-50%) // Centre horizontalement
        z-index: 1
        @media ( max-width: 768px )
            font-size: 1.5em
            left: 37%
            font-weight: 400
